<!doctype html>

<html lang="en">
<head>
	<meta charset="utf-8">

	<title>Health Tracker</title>
	<meta name="author" content="bkantiques">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="bower_components/normalize-css/normalize.css">
	<link rel="stylesheet" href="bower_components/jquery-ui/themes/ui-lightness/jquery-ui.min.css">
	<link rel="stylesheet" href="css/style.css">

	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

</head>

<body>

	<div class="page auth-page" id="login-view">
		<div class="auth-section error-message"></div>
		<div class="auth-section">
			<div class="text-small"><label for="login-email">Email: </label></div>
			<div><input type="email" id="login-email" class="login-email auth-input"></div>
		</div>
		<div class="auth-section">
			<div class="text-small"><label for="login-password">Password: </label></div>
			<div><input type="password" id="login-password" class="login-password auth-input"></div>
		</div>
		<div class="auth-section flex-links">
			<div>
				<button class="login-button primary-button">Login</button>
			</div>
			<div>
				<a href="#register">Register</a>
			</div>
		</div>
	</div>

	<div class="page auth-page" id="register-view">
		<div class="auth-section error-message"></div>
		<div class="auth-section">
			<div class="text-small"><label for="register-email">Email: </label></div>
			<div><input type="email" id="register-email" class="register-email auth-input"></div>
		</div>
		<div class="auth-section">
			<div class="text-small"><label for="register-password">Password: </label></div>
			<div><input type="password" id="register-password" class="register-password auth-input"></div>
		</div>
		<div class="auth-section flex-links">
			<div>
				<button class="register-button primary-button">Register</button>
			</div>
			<div>
				<a href="#login">Login</a>
			</div>
		</div>
	</div>

	<div class="page content-page" id="main-view">

		<div class="flex-links top-nav">
			<div><a class="log-out" href="#login">Log out</a></div>

			<div><a href="#stats">View stats</a></div>
		</div>

		<div id="search-view">
			<div>
				<label for="search">Search for food: </label>
				<input type="text" id="search-input">
			</div>
			<div class="search-error-message error-message"></div>
			<table class="food-list" id="search-food-list"></table>
		</div>

		<div id="record-view">
			<div>Select a date to view logs</div>
			<div>
				<label for="datepicker">Date: </label>
				<input type="text" id="datepicker">
			</div>
			<div class="record-error-message error-message"></div>
			<table class="food-list" id="record-list"></table>
			<div class="text-right" id="day-total-calories"></div>
		</div>
	</div>

	<div class="page content-page" id="stats-view">

		<div class="flex-links top-nav">
			<div><a class="log-out" href="#login">Log out</a></div>
			<div><a href="#main">Back to main</a></div>
		</div>

		<div class="flex-links stat-options">
			<div><a class="stat-range" id="7-stats">Last 7 days</a></div>
			<div><a class="stat-range" id="30-stats">Last 30 days</a></div>
			<div><a class="stat-range" id="90-stats">Last 90 days</a></div>
			<div><a class="stat-range" id="365-stats">Last 365 days</a></div>
			<div><a class="stat-range" id="custom-stats">Custom date range</a></div>
		</div>

		<div id="custom-range">
			<div class="form-section">
				<div><label for="datepicker">Starting date: </label></div>
				<div><input type="text" id="min-custom-datepicker"></div>
			</div>
			<div class="form-section">
				<div><label for="datepicker">Ending date: </label></div>
				<div><input type="text" id="max-custom-datepicker"></div>
			</div>
			<div class="form-section">
				<button id='custom-range-button' class='primary-button'>Get stats</button>
			</div>
			<div class="error-message" id="custom-range-error"></div>
		</div>

		<div id="stats-data"></div>

		<div class="chart-container">
			<canvas id="calorie-chart" width="400" height="400"></canvas>
		</div>

	</div>

	<!-- Fetch polyfill -->
	<script src="bower_components/fetch/fetch.js"></script>
	<!-- jQuery + Underscore + Backbone + jQuery UI -->
	<script src="bower_components/jquery/dist/jquery.min.js"></script>
	<script src="bower_components/underscore/underscore-min.js"></script>
	<script src="bower_components/backbone/backbone-min.js"></script>
	<script src="bower_components/jquery-ui/jquery-ui.min.js"></script>
	<!-- Chart.js -->
	<script src="bower_components/Chart.js/dist/Chart.min.js"></script>
	<!-- Firebase -->
	<script src="https://cdn.firebase.com/js/client/2.4.2/firebase.js"></script>
	<!-- BackboneFire -->
	<script src="https://cdn.firebase.com/libs/backbonefire/0.5.1/backbonefire.min.js"></script>

	<script type="text/template" id="search-item-template">
		<td class="name"><%= brand %> <%= name %></td>
		<td class="calories"><%= calories %> calories</td>
	</script>

	<script type="text/template" id="record-item-template">
		<td class="name"><%= brand %> <%= name %></td>
		<td class="calories"><%= calories %> calories</td>
		<td class="delete-container"><button class="delete">×</button></td>
	</script>

	<script type="text/template" id="stats-template">
		<div>Total calories: <%= total %></div>
		<div>Average calories per day: <%= average %></div>
	</script>

	<script src="js/models/user.js"></script>
	<script src="js/models/searchItem.js"></script>
	<script src="js/models/foodRecord.js"></script>
	<script src="js/views/login.js"></script>
	<script src="js/views/register.js"></script>
	<script src="js/views/main.js"></script>
	<script src="js/views/search.js"></script>
	<script src="js/views/searchItem.js"></script>
	<script src="js/views/recordItem.js"></script>
	<script src="js/views/record.js"></script>
	<script src="js/views/stats.js"></script>
	<script src="js/collections/searchItems.js"></script>
	<script src="js/collections/foodRecords.js"></script>
	<script src="js/routers/router.js"></script>
	<script src="js/app.js"></script>
</body>
</html>